/Modifications/CPU Upgrade/pcb-bga-adapter/pcb-bga-adapter-backups
PCB/~PC110.kicad_pcb.lck
Modifications/CPU Upgrade/pcb-bga-adapter/_autosave-pcb-bga-adapter.kicad_pcb
Modifications/CPU Upgrade/pcb-bga-adapter/~pcb-bga-adapter.kicad_pcb.lck
/Modifications/CPU Upgrade/pcb-bga-adapter-dualcon/pcb-bga-adapter-backups
